
<!-- <div class="header" >
    <div class="header-nav">
        
         

        <a href="app-home">TextFormatter</a>

        <a href="name-editor">Create User</a>
        <a href="#">API-Call</a>
       

    </div>
</div> -->



<div class="Input-cls">
     
    <!-- <text-display (sendtoParent)="receiveMessage($event)" ></text-display> -->
     <div class="header">Text Formatter</div>

   <text-display [getCharId]="sendToDisplay()"></text-display>


  

    <text-formatter [ngStyle]="stylethis" (updateSignal)="receiveMessage($event)"></text-formatter>
   

   

</div>

<router-outlet></router-outlet>