
.input-cls{
   background-color: azure;

}

.header{
    background-color: grey;
    height: 90px;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
.header{
    background-color: burlywood;
    padding: 30px;
    
    
    text-decoration: none;
    
}
    
    
.header-nav{ 
        font-size:x-large;
        font-family: 'Times New Roman', Times, serif;
     
        display: flex;
        align-items: center;
        
        justify-content: space-around;

    

} */